#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = nuitka

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_build:
	rst2pdf README.rst
	rst2pdf Developer_Manual.rst
	cp Changelog.rst changelog
	cp Developer_Manual.rst Developer_Manual.txt

override_dh_auto_test:
	./tests/run-tests --skip-reflection-test
